<h1>Connect Four</h1>
<form method="POST" action="/users">
<div>
    <label for = "name_box" > ENTER YOUR NAME </label>
    <input id = "name_box" type="text" name="name">
    <input type="submit">
</div>
</form>

